<div id="<%= dom_id entry %>">
  <h2><%= link_to_unless_current entry.title, entry_path(entry) %></h2>
  <div>
    <small><%= l entry.published_at, format: :long %></small>
  </div>
  <%= sanitize entry.body_html %>
</div>
