<% content_for :title, "Entries" %>

<% content_for(:sidebar) { render "common/sidebar" } %>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>

  <div class="pagination">
    <%= pagination(page_count: @page_count) %>
  </div>
</div>

