.entry {
  img {
    max-width: 100%;
  }
}

.pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;

  span,
  a {
    padding: .2rem .3rem;
  }

  span {
    background-color: #eee;
  }

  a:hover {
    background-color: #ddd;
  }
}
