body {
  margin: 0;
}

.container {
  margin: 1rem auto;
  box-sizing: border-box;
  max-width: 992px;
  width: calc(100% - 1rem);
}

section {
  margin-bottom: 3rem;
}

.title {
  padding-bottom: .5rem;
  border-bottom: 1px solid #ccc;
}
