.none {
  display: none;
}

.inline-block {
  display: inline-block
}

pre {
  box-sizing: border-box;
  padding: .5rem;
  background-color: #eee;

  code {
    display: block;
    overflow-x: auto;
  }
}

